.patron {
    border: 1px solid transparent;
    margin-bottom: 10px;

    .header {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 2px 8px 4px;
    }

    .fa-user-circle {
        margin: 15px auto 0;
        display: block;
        font-size: 80px;
    }

    .name {
        text-align: center;
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &.platinum {
        .header {
            background-color: #e5e4e2;
        }
    }

    &.gold {
        .header {
            background-color: #ffd700;
        }
    }

    &.silver {
        .header {
            background-color: #c0c0c0;
        }
    }

    &.bronze {
        .header {
            background-color: #cd7f32;
        }
    }
}

.release-notes {
    margin-bottom: 2rem;

    h3 {
        font-weight: 600;
        padding-bottom: 8px;
        border-bottom: 1px solid transparent;

        small {
            opacity: .6;
            font-weight: 600;
        }
    }

    h4 {
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &:last-child {
        margin-bottom: 20px;
    }

    p {
        line-height: 2;
        border-left: .1rem solid transparent;
        margin-left: .85rem;
        padding-left: 1.4rem;
        margin-bottom: 0;
    }

    .fa-fw {
        &.fa-plus {
            color: $green;
        }
    
        &.fa-wrench {
            color: $teal;
        }
    
        &.fa-server {
            color: $yellow;
        }
    
        &.fa-exchange {
            color: $orange;
        }
    
        &.fa-trash-alt {
            color: $red;
        }

        &.fa-band-aid {
            color: $blue;
        }
    
        &.fa-bug {
            color: $pink;
        }
    }
}