.badge {
    border-radius: 100px;

    &.badge-user {
        line-height: 1;
        font-size: 50%;
        color: #fff;
        top: -6px;
        position: relative;
        padding: 4.5px 3px;

        &.badge-admin {
            background-color: $accent  !important;
        }

        &.badge-platinum {
            background-color: #bdcfd4  !important;
        }
        
        &.badge-gold {
            background-color: $yellow !important;
        }
        
        &.badge-silver {
            background-color: #9eacbd !important;
        }
        
        &.badge-bronze {
            background-color: #cd7f32 !important;
        }
    }
}