.btn {
    border-radius: 0;
    border-color: transparent;

    &:focus {
        box-shadow: none;
    }

    &.btn-filter {
        background: transparent;
        color: $accent;
        font-weight: 600;
        font-size: .9rem;

        .filter-title {
            color: #000 !important;
        }

        &:hover,
        &:active,
        &:focus,
        &:active:focus {
            box-shadow: none;
            border-color: transparent;
        }
    }
}

.show {
    & > .btn-filter.dropdown-toggle {
        background: transparent;
        color: $accent;

        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
            border-color: transparent;
        }
    }
}

.btn, .light .btn, .white .btn {
    &.btn-vnext {
        background-color: $leak;
        font-weight: 700;
        text-transform: uppercase;
        padding: 9px;
        color: #fff;
        transition: all .3s ease-in;
    
        &:hover {
            transform: translate(0, -1px);
            box-shadow: 0 4px 18px 0 rgba(0,0,0,.2);
        }
    }
}

.dark, .black {
    .btn {
        &.btn-vnext {
            color: $leak;
        }
    }
}