.btn {
    border-radius: 3px;
    border-color: transparent;

    &.btn-filter {
        background: transparent;
        color: $accent;
        font-weight: 600;
        font-size: .9rem;
    }

    &:hover,
    &:active,
    &:focus,
    &:hover:focus,
    &:active:focus {
        box-shadow: none;
        border-color: transparent;
    }

    &.col {
        &:first-child {
            border-radius: 3px 0 0 3px;
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
        }

        &:last-child:first-child {
            border-radius: 3px;
        }
    }
}

.show {
    & > .btn-filter.dropdown-toggle {
        background: transparent;
        color: $accent;

        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
            border-color: transparent;
        }
    }
}

.btn, .light .btn, .white .btn {
    &.btn-vnext {
        background-color: $leak;
        font-weight: 700;
        text-transform: uppercase;
        padding: 9px;
        color: #fff;
        transition: all .3s ease-in;

        &:hover {
            box-shadow: 0 4px 18px 0 rgba(0,0,0,.2);
        }
    }
}

.dark, .black {
    .btn {
        &.btn-vnext {
            color: $leak;
        }
    }
}

.row-btn {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 10px;
}

.btn-block + .btn-block {
    margin-top: 0;
}

.btn-patreon {
    background: #f96854 !important;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px auto;

    .fa-fw {
        color: #052d49;
    }

    &:hover {
        background: #dd4e3e !important;
    }

    &:active {
        color: #fff;
    }

    &.active:focus {
        color: #fff !important;
    }
}

.btn-store {
    text-align: left;
    line-height: 1;
    padding: .75rem;

    .brand {
        font-size: 20px;
        display: block;
        font-weight: 600;
    }

    .ms-store {
        font-size: 14px;
        margin-left: 24px;
        display: block;
    }

    .fab {
        font-weight: 400;
    }
}
