.changelog {    
    a + h3 {
        margin-top: 10px;
    }

    h2 {
        font-size: 32px;
        font-weight: 700;
    }
    
    h3 {
        font-size: 26px;
        font-weight: 700;
    }
    
    h4 {
        font-size: 20px;
        font-weight: 700;
    }

    .alert {
        &.alert-warning {
            color: $skip;
            border: none;
            border-left: 5px solid $skip;
            background-color: transparent !important;
            padding: 10px 20px;
            text-align: left !important;
            margin: 7px 0;
            font-size: 18px;
            font-weight: 600;

            h4 {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }

    .minilog {
        margin-bottom: 0;
    }

    .date-heading {
        font-size: 27px;
        font-weight: 600;

        small {
            font-size: 19px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    section {
        padding-bottom: 10px;
    
        .date-heading {
            padding-bottom: 0;
        }
    
        .date-box {
            margin: -4px 0 5px;
            color: #aaa;
            
            .label {
                margin: 0 5px !important;
    
                &:first-child {
                    margin-left: 0 !important;
                }
    
                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    
        &:last-child {
            padding-bottom: 0;
        }
    }
}