.changelog {
    a + h3 {
        margin-top: 10px;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 700;
    }

    h4 {
        font-size: 20px;
        font-weight: 700;
    }

    .alert {
        border-radius: 0;

        &.alert-warning {
            color: $skip;
            border: none;
            border-left: 5px solid $skip;
            background-color: transparent !important;
            padding: 0 15px;
            text-align: left !important;
            margin: 0 0 7px;
            font-size: 18px;
            font-weight: 600;

            h4 {
                font-size: 24px;
                font-weight: 700;
                margin: 0;
            }
        }
    }

    .minilog {
        margin-bottom: 0;
    }

    .date-heading {
        font-size: 27px;
        font-weight: 600;
        padding-bottom: 0;

        small {
            font-size: 19px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    .date-box {
        margin: -4px 0 5px;
        color: #aaa;
        padding-bottom: 10px;

        .label {
            margin: 0 3px !important;
            font-weight: 600;
            text-transform: uppercase;

            &:first-child {
                margin-left: 0 !important;
            }

            &:last-child {
                margin-right: 0 !important;
            }
        }
    }

    section {
        padding-bottom: 10px;

        .date-heading {
            padding-bottom: 0;
        }

        .date-box {
            margin: -4px 0 5px;
            color: #aaa;

            .label {
                margin: 0 5px !important;

                &:first-child {
                    margin-left: 0 !important;
                }

                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}
