.container {
    padding: 0;
}

.content {
    padding: 10px 0;
}

@media all and (max-width:1199px) {
    .container {
        width: 100%;
        max-width: 100%;
    }

    .content {
        padding: 10px;
    }
}

@media all and (min-width:1200px) {
    .container {
        width: 1170px;
        max-width: 100%;
    }
}