.app {
    margin-left: 320px;
    background-color: #f8f8f8;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    width: calc(100% - 320px);
    position: fixed;
    top: 0;
    right: 0;
}