$text: #fff;
$text-secondary: #ddd;
$background-header: #333;
$background-content: #181818;
$background-content-2: #222;
$background-content-hover: #282828;
$highlight-color: rgba(255,255,255,.1);
$transparency: rgba(51,51,51,.8);
$shadow: rgba(0,0,0,.3);
$shadow-hover: rgba(0,0,0,.3);

.dark {
    background: $background-content;
    color: $text;

    .navbg {
        background: $background-header;
    }

    .jumbotron {
        background-color: $background-header !important;
        color: $text;
    
        h2 {
            small {
                a {
                    color: $text;
                }
    
                .text {
                    color: $text;
                }
            }
        }
    }

    .navbar {
        &.bg-cw {
            @supports ((backdrop-filter: blur(30px))) {
                background-color: $transparency !important;
            }
                
            @supports not ((backdrop-filter: blur(30px))) {
                background-color: $background-header !important;
            }
        }

        .navbar-brand {
            color: $text;
        }
        
        .nav-item {
            .nav-link {
                color: $text !important;
            }
        }
    
        .dropdown-menu {
            box-shadow: 0 0 24px 0 $shadow;

            @supports ((backdrop-filter: blur(30px))) {
                background-color: $transparency;
            }
                
            @supports not ((backdrop-filter: blur(30px))) {
                background-color: $background-header;
            }
    
            .dropdown-divider {
                border-top-color: $highlight-color;
            }
    
            .dropdown-header {
                color: $text-secondary;
            }
    
            .dropdown-item {
                color: $text;
                
                &:hover {
                    background-color: $highlight-color;
                }
    
                &:active {
                    color: $text;
                }
    
                &:focus {
                    color: $text;
                    background: rgba($transparency,.1);
                }
            }
        }
        
        .navbar-toggler {
            background-color: rgba($transparency,.1);
        }
    }

    .nav {
        &.nav-tabs {
            .nav-item {
                .nav-link {
                    color: $text;
    
                    &.active {
                        color: $text;
                    }
                }
            }
        }
    }

    .timeline {
        .timeline-row {
            &:nth-child(odd) {
                background-color: $background-content;
            }
            
            &:nth-child(even) {
                background-color: $background-content-2;
            }
        
            &:hover {
                background-color: $background-content-hover;
            }
        
            a.row .build {
                color: $text;
            }
        
            .row {
                color: $text;
            }
        }
    }
    
    .milestone {
        border-color: $background-header;
        
        &:hover {
            box-shadow: 0 4px 10px 0 $shadow-hover;
        }
    }

    .release-notes {
        h3 {
            border-bottom-color: $background-header;
        }
    
        p {
            border-left-color: $background-header;
        }
    }

    .flight-set {
        border-color: $background-header;
        
        &:hover {
            box-shadow: 0 4px 10px 0 $shadow-hover;
        }
    
        .flight {
            p {
                &.build {
                    color: $text;
                }
            }
        }
    }

    .list-group {
        &.list-group-changelogs {
            .list-group-item {
                &.active {
                    color: $text;
                    background: $background-content-hover;
                }
        
                &:hover {
                    background-color: $background-content-2;
                }
            }
        }
    }
}