.dropdown-menu {
    border: none;
    border-radius: 3px;
    padding: 5px 0;
    margin-top: 0;
    font-size: 15px;

    .dropdown-divider {
        margin: 5px 24px;
    }

    .dropdown-item {
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 0;
        transition: .1s ease-in-out;

        .fa-fw {
            margin-right: 10px;
        }
    }

    &.dropdown-small {
        max-width: 250px;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        max-height: 400px;
        overflow-y: auto;
    }
}

.dropdown-toggle::after {
    display: none;
}
