.flight-set {
    border: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    transition: all .5s;
    margin-bottom: 10px;
        
    &:hover {
        text-decoration: none;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
    }

    .flight {
        display: block;
        transition: all .3s;
        padding: 5px 10px 8px;
    
        p {
            margin: 0;
            line-height: 1;
    
            &.build {
                color: #333;
                font-size: 18px;
                font-weight: 600;
                margin: 4px 0;
            }
    
            &.ring {
                .label {
                    text-transform: unset;
                }
            }
        }
        
        .img {
            display: inline-block;
            margin-right: 10px;
            float: left;
    
            img {
                width: 24px;
                height: 24px;
            }
        }
    
        .data {
            display: inline-block;
        }
    }

    .btn {
        border: none;
    }
}

.flight-row {
    margin-left: -5px;
    margin-right: -5px;

    .flight-block {
        padding-left: 5px;
        padding-right: 5px;
    }
}