.font-light {
    font-weight: 300;
}

.font-bold {
    font-weight: 700;
}

.font-uppercase {
    text-transform: uppercase;
}

.lead {
    font-weight: 600;
}

h1 {
    line-height: 1;
}

.h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    color: $accent;

    &:first-child {
        margin-top: 0;
    }

    .fab {
        font-weight: 500;
    }
}

.mobile {
    color: $mobile;
}

.iso {
    color: $iso;
}

.iot {
    color: $iot;
}

.holographic {
    color: $holographic;
}

.pc {
    color: $pc;
}

.wcos {
    color: $wcos;
}

.xbox {
    color: $xbox;
}

.team {
    color: $team;
}

.server {
    color: $server;
}

.sdk {
    color: $sdk;
}