.form-control {
    border-radius: 3px;
}

.control-label {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
}

.form-group label {
    font-weight: 600;
}

.custom-checkbox {
    .custom-control-label {
        &::before {
            border-radius: 3px !important;
        }
    
        &::after {
            background: no-repeat 50%/60% 60%;
        }
    }
}