.jumbotron {
    border-radius: 0;
    background-color: #333 !important;
    padding: 10px 20px 20px;
    margin-bottom: 0;
    color: #fff;
    
    .viv-logo {
        width: 32px;
        height: auto;
        display: block;
        margin: 10px auto 30px;
    }

    .display-1 {
        margin-bottom: 30px;
    }

    h2 {
        font-weight: 700;
        margin: 0;
    }

    h5 {
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
}