.jumbotron {
    border-radius: 0;
    padding: 10px 20px;
    margin-bottom: 0;

    &.highlights {
        &.tabs {
            padding-bottom: 0;

            .nav {
                margin-top: 10px;
            }
        }
    }

    &.tabs {
        padding-bottom: 0;
        padding-top: 0;
    }

    h1 {
        font-weight: 700;
    }

    h2 {
        font-weight: 700;
        margin: 0;

        .fab {
            font-weight: 400 !important;
        }

        small {
            font-size: 60%;
            margin-left: 10px;

            .fa-angle-right {
                opacity: .5;
            }

            a {
                opacity: .8;
                text-decoration: none;
                font-weight: 700;

                &:hover,
                &:active,
                &:focus {
                    opacity: 1;
                }
            }

            .text {
                opacity: .8;
                font-weight: 700;
            }
        }
    }

    h5 {
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }

    h6 {
        font-weight: 700;
        text-transform: uppercase;
    }

    &.build-header {
        h2 {
            margin-bottom: 0 !important;
        }

        h6 {
            margin-left: 48px;
        }
    }

    .lead {
        margin-bottom: 0;
        margin-top: 15px;
    }

    .btn-toolbar {
        margin-top: 20px;
    }

    &.insider {
        color: #fff !important;
        margin-top: 10px;
        border-radius: 3px;

        h1 {
            margin-top: 20px;
        }

        .row {
            margin-top: 15px;
        }

        &.platinum {
            background-color: #bdcfd4  !important;
        }

        &.gold {
            background-color: $yellow !important;
        }

        &.silver {
            background-color: #9eacbd !important;
        }

        &.bronze {
            background-color: #cd7f32 !important;
        }
    }
}
