.jumbotron {
    border-radius: 0;
    background-color: #333 !important;
    padding: 10px 20px 20px;
    margin-bottom: 0;
    color: #fff;

    &.tabs {
        padding-bottom: 10px;
    }
    
    .viv-logo {
        width: 32px;
        height: auto;
        display: block;
        margin: 10px auto 30px;
    }

    .display-1 {
        margin-bottom: 30px;
    }

    h2 {
        font-weight: 700;
        margin: 0;

        .fab {
            font-weight: 500 !important;
        }

        small {
            font-size: 60%;
            margin-left: 10px;

            .fa-angle-right {
                opacity: .5;
            }

            a {
                color: #fff;
                opacity: .8;
                text-decoration: none;
                font-weight: 700;

                &:hover,
                &:active,
                &:focus {
                    opacity: 1;
                }
            }

            .text {
                color: #fff;
                opacity: .8;
                font-weight: 700;
            }
        }
    }

    h5 {
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
}