.list-group {
    &.list-group-changelogs {
        .list-group-item {
            border: none;
            margin: 0 0 4px;
            padding: 6px 10px;
            background-color: transparent;
            border-radius: 0;
            line-height: 1.2;
    
            &:hover {
                text-decoration: none;
            }
        }
    }

    &.list-group-platforms {
        .list-group-item {
            border: none;
            margin: 0;
            padding: 7px 10px;
            background-color: transparent;
            border-radius: 0;
    
            &:hover {
                text-decoration: none;
            }

            &.active,
            &.active:hover {
                background-color: $accent;
                color: #fff;
            }
        }
    }
}