.list-group {
    margin-top: 10px;

    .list-group-item {
        border: none;
        margin: 0;
        padding: 5px 10px;
        background-color: transparent;
        border-radius: 0;

        &.active {
            color: #444;
            background: #ddd;
        }

        &:hover{
            background-color: #eee;
        }
    }
}