.milestone {
    min-height: 83.7px;
    margin-bottom: 10px;
    padding: 10px;
    transition: all .5s;
    display: block;
    border-radius: 3px;
    color: #fff;
        
    &:hover {
        text-decoration: none;
        transform: translate(0, -3px);
        color: #fff;
    }
            
    h3 {
        margin: 0;
    }

    h4 {
        margin: 0;
    }
}

.milestone-navigation {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    padding: 7px 10px 11px;
    line-height: 1.4;
    border-radius: 3px;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

@media (max-width: 575px) {
    .previous-milestone {
        margin-bottom: 10px;
    }
}

.lifecycle-stats {
    h5 {
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
        font-size: 1rem;
    }

    h4 {
        font-weight: 700;
    }
}

.platform-card {
    h4 {
        font-weight: 600;
        margin-bottom: 0;
    }

    h6 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        opacity: .7;
    }
}