.milestone {
    border-radius: 0;
    min-height: 83.7px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid transparent;
    transition: all .5s;
    display: block;
        
    &:hover {
        text-decoration: none;
        transform: translate(0, -3px);
    }
            
    h3 {
        margin: 0;
    }

    h4 {
        margin: 0;
    }
}