.nav {
    &.nav-tabs {
        border-bottom: none;
        background: #eee;
        padding: 10px 0;

        .nav-item {
            border: none;

            .nav-link {
                border: none;
                border-bottom: 3px solid transparent;
                padding: 12px 0;
                margin: 0 10px;
                color: #333;

                &.active,
                &:hover {
                    border-bottom-color: $accent;
                    background: transparent;
                    color: #333;
                }
            }

            &:first-child {
                .nav-link {
                    margin-left: 20px;
                }
            }

            &:last-child {
                .nav-link {
                    margin-right: 20px;
                }
            }
        }
    }
}