.nav {
    display: flex;
    flex-wrap: nowrap;

    .nav-link {
        border: none;
        padding: 7px 12px;
        margin: 0;
        opacity: .8;
        transition: all .2s ease-in-out;
        display: inline-block;

        &.active {
            position: relative;

            &::after {
                background-color: $accent;
                width: calc(100% - (12px * 2));
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 14px;
                content: "";
                transition: all .2s ease-in-out;
            }

            &:hover {
                &::after {
                    width: 100%;
                    left: 0;
                }
            }
        }

        &:hover {
            opacity: 1;
            background: rgba(170,170,170,.2);
        }
    }
}

.nav-scroll {
    position: relative;
    overflow-y: hidden;

    nav {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
    }
}
