.navbar {
    z-index: 9900;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;

    @media all and (min-width:1200px) {
        padding: 0;
    }

    &.bg-dark {
        backdrop-filter: blur(30px);

        @supports ((backdrop-filter: blur(30px))) {
            background-color: rgba(0,0,0,.8) !important;
        }
            
        @supports not ((backdrop-filter: blur(30px))) {
            background-color: #333 !important;
        }
    }
    
    .nav-item {
        padding: 6px 0;

        &.active {
            .nav-link {
                background: transparent;
                opacity: 1;
                border-bottom-color: $accent;
                box-shadow: 0 5px 8px -7px $accent;

                &:hover {
                    opacity: 1;
                }
            }
        }
    
        .nav-link {
            color: #fff !important;
            padding: 3px 0 !important;
            margin-right: 20px;
            opacity: .6;
            transition: .1s ease-in-out;
            border-bottom: 2px solid transparent;

            &:hover {
                opacity: .8;
            }

            @media all and (max-width:700px) {
                .fa-fw {
                    display: none;
                }
            }
        }
    }

    .navbar-brand {
        padding: 9px 0 !important;
        
        &:hover {
            opacity: .8;
        }
        
        &.active {
            background: transparent;
            opacity: 1;
        }
        
        img {
            max-height: 18px;
            width: auto;
            margin-top: -3px;
        }

        @media all and (max-width:700px) {
            .title {
                display: none;
            }
        }
    }

    .dropdown {
        .dropdown-toggle::after {
            display: none;
        }

        .nav-link {
            margin-right: 0;
        }

        &.show {
            .nav-link {
                background: transparent;
                opacity: 1;
                border-bottom-color: $accent;
            }
        }
    }

    .dropdown-menu {
        box-shadow: 0 0 24px 0 rgba(0,0,0,.3);
        border: none;
        border-radius: 0;
        padding: 4px 0;
        margin-top: 0;
        font-size: 15px;
        backdrop-filter: blur(30px);
            
        @supports ((backdrop-filter: blur(30px))) {
            background-color: rgba(0,0,0,.8);
        }
            
        @supports not ((backdrop-filter: blur(30px))) {
            background-color: #333;
        }

        .dropdown-divider {
            margin: 4px 10px;
            border-top-color: rgba(#fff,.1);
        }

        .dropdown-header {
            color: #ddd;
        }

        .dropdown-item {
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 0;
            transition: .1s ease-in-out;
            color: #fff;
            
            &:hover {
                background-color: rgba(#fff,.1);
            }

            &:active {
                color: #fff;
            }

            &:focus {
                color: #fff;
                background: rgba(0,0,0,.1);
            }
        }
    }
    
    .navbar-toggler {
        background-color: rgba(0,0,0,.1);
        border: none;
        padding: 10px 12px;
        margin-right: -15px;
        
        .navbar-toggler-icon {
            background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
}