.navbar {
    padding: 0 20px;

    @media all and (min-width:1200px) {
        padding: 0;
    }

    .nav-item {
        padding: 6px 0;
        margin-right: 20px;

        &.active {
            .nav-link {
                background: transparent;
                opacity: 1;
                border-bottom-color: $accent;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &.nav-login {
            margin-right: 0;
        }

        .nav-link {
            padding: 3px 0 !important;
            opacity: .6;
            transition: .1s ease-in-out;
            border-bottom: 2px solid transparent;

            &:hover {
                opacity: .8;
            }
        }
    }

    .navbar-brand {
        padding: 6px 0 12px !important;

        &:hover {
            opacity: .8;
        }

        &.active {
            background: transparent;
            opacity: 1;
        }

        img {
            max-height: 26px;
            width: auto;
            margin: 0;
        }

        @media all and (max-width:700px) {
            .title {
                display: none;
            }
        }
    }

    .dropdown {
        margin-right: 0;

        &.show {
            .nav-link {
                background: transparent;
                opacity: 1;
                border-bottom-color: $accent;
            }
        }
    }
}

.navbg {
    height: 50px;
}
