.navbar {
    padding: 0 20px;

    @media all and (min-width:1200px) {
        padding: 0;
    }

    .nav-item {
        padding: 0;

        &.active {
            .nav-link {
                background: transparent;
                opacity: 1;
                position: relative;

                &:hover {
                    opacity: 1;

                    &::after {
                        width: 100%;
                        left: 0;
                    }
                }

                &::after {
                    background-color: $accent;
                    width: calc(100% - (12px * 2));
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 12px;
                    content: "";
                    transition: all .2s ease-in-out;
                }
            }
        }

        &.nav-login {
            margin-right: 0;
        }

        .nav-link {
            padding: 17px 12px !important;
            opacity: 1;
            transition: .1s ease-in-out;
            line-height: 1;

            &:hover {
                opacity: 1;
                background: rgba(170,170,170,.2);
            }
        }
    }

    .navbar-brand {
        padding: 12px !important;
        margin-right: 0;
        font-size: 0 !important;
        position: relative;

        &:hover {
            background: rgba(170,170,170,.2);
        }

        &.active {
            background: transparent;

            &:hover {
                background: rgba(170,170,170,.2);

                &::after {
                    width: 100%;
                    left: 0;
                }
            }

            &::after {
                background-color: $accent;
                width: calc(100% - (12px * 2));
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 12px;
                content: "";
                transition: all .2s ease-in-out;
            }
        }

        img {
            height: 26px;
            width: 26px;
            margin: 0;
        }

        @media all and (max-width:700px) {
            .title {
                display: none;
            }
        }
    }

    .dropdown {
        margin-right: 0;

        &.show {
            .nav-link {
                background: transparent;
                opacity: 1;
                border-bottom-color: $accent;
            }
        }
    }
}

.navbg {
    height: 50px;
}
