.bg-preview-done {      background-color: #0098df; }
.bg-preview-go {        background-color: #d7f0fc; }
.bg-public-done {       background-color: #97c800; }
.bg-public-go {         background-color: #edf5d6; }
.bg-extended-done {     background-color: #fb8009; }
.bg-extended-go {       background-color: #fceee0; }
.bg-lts-done {          background-color: #e74018; }
.bg-lts-go {            background-color: #f5dcd6; }