.progress {
    margin: 10px 0 0;
    border-radius: 0;
    height: 4px;
}

.bg-preview-done {      background-color: #0098df; }
.bg-preview-go {        background-color: #c3e6f7; }
.bg-public-done {       background-color: #97c800; }
.bg-public-go {         background-color: #e7f3c5; }
.bg-extended-done {     background-color: #fb8009; }
.bg-extended-go {       background-color: #fde5cd; }
.bg-lts-done {          background-color: #e74018; }
.bg-lts-go {            background-color: #fad6cc; }