.tile, .light .tile, .white .tile {
    padding: 8px;
    color: #fff;
    line-height: 1;
    margin-bottom: 4px;
    display: block;
    transition: all .3s ease-in;
    border-radius: 3px;

    &:hover {
        transform: translate(0, -1px);
        box-shadow: 0 4px 18px 0 rgba(0,0,0,.2);
        color: #fff;
        text-decoration: none;
    }

    .ring {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
        display: block;
    }

    .build {
        font-weight: 600;
        font-size: 24px;
        display: block;
    }

    .date {
        font-weight: 600;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 2px;
        display: block;
    }

    &.vnext, &.leak {
        background-color: $leak;
    }

    &.skip {
        background-color: $skip;
    }

    &.fast {
        background-color: $fast;
    }

    &.slow {
        background-color: $slow;
    }

    &.preview {
        background-color: $preview;
    }

    &.release {
        background-color: $release;
    }

    &.targeted {
        background-color: $targeted;
    }

    &.ltsc {
        background-color: $ltsc;
    }

    &.none {
        background-color: $accent;
    }
}

.dark, .black {
    .tile {
        &.vnext, &.leak {
            .ring {
                color: $leak;
            }
        }

        &.skip {
            .ring {
                color: $skip;
            }
        }

        &.fast {
            .ring {
                color: $fast;
            }
        }

        &.slow {
            .ring {
                color: $slow;
            }
        }

        &.preview {
            .ring {
                color: $preview;
            }
        }

        &.release {
            .ring {
                color: $release;
            }
        }

        &.targeted {
            .ring {
                color: $targeted;
            }
        }

        &.ltsc {
            .ring {
                color: $ltsc;
            }
        }

        &.none {
            .ring {
                color: $accent;
            }
        }
    }
}

.row-gutter {
    margin-left: -2px !important;
    margin-right: -2px !important;

    & > div {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}
