.date-heading {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 8px;
    color: $accent;
    
    &:first-child {
        margin-top: 0 !important;
    }
}

.timeline {
    margin-bottom: 15px;

    .timeline-row {
        padding-left: 5px;
        padding-right: 5px;
        transition: .2s ease-in-out;
        z-index: 9700;
    
        .row {
            padding: 12px 5px;
            font-size: 100%;
    
            &:hover {
                text-decoration: none !important;
            }
    
            &:active {
                text-decoration: none;
            }
    
            .img-platform {
                height: 32px;
                padding-right: 10px;
                margin: -10px 0 -5px;
            }
            
            .ring {
                :last-child {
                    margin-right: 0;
                }
                
                .label {
                    margin-right: 3px;
                }
            }
        }
    }
}