.date-heading {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 8px;
    color: $accent;
    
    &:first-child {
        margin-top: 0 !important;
    }
}

.timeline {
    margin-bottom: 15px;

    .timeline-row {
        padding-left: 15px;
        padding-right: 15px;
        border-style: solid;
        border-width: 4px;
        transition: .2s ease-in-out;
        z-index: 9700;
                
        &:nth-child(odd) {
            background-color: #eee;
            border-color: #eee;
        }
        
        &:nth-child(even) {
            background-color: #f8f8f8;
            border-color: #f8f8f8;
        }
    
        &:hover {
            background-color: #e6e6e6;
            border-color: #e6e6e6;
        }
    
        a.row .build {
            color: #000;
        }
    
        .row {
            color: #000;
            padding: 8px 0;
            font-size: 100%;
    
            &:hover {
                text-decoration: none !important;
            }
    
            &:active {
                text-decoration: none;
            }
    
            .img-platform {
                height: 32px;
                padding-right: 10px;
                margin: -10px 0 -5px;
            }
            
            .ring {
                :last-child {
                    margin-right: 0;
                }
                
                .label {
                    margin-right: 3px;
                }
            }
        }
    }
}