.date-heading {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 8px;
    color: $accent;

    &:first-child {
        margin-top: 0 !important;
    }
}

.timeline {
    margin-bottom: 15px;

    .timeline-row {
        padding-left: 5px;
        padding-right: 5px;
        transition: all .2s ease-in-out;
        position: relative;

        .row {
            padding: 7px 5px;
            font-size: 100%;

            &:hover {
                text-decoration: none !important;
            }

            &:active {
                text-decoration: none;
            }

            .platform-icon {
                font-size: .9rem;
            }

            .ring {
                :last-child {
                    margin-right: 0;
                }

                .label {
                    margin-right: 3px;
                }
            }
        }

        .dot {
            width: 8px;
            height: 8px;
            background: $accent;
            position: absolute;
            top: calc(50% - 4px);
            right: 15px;
            border-radius: 8px;
        }
    }
}
