.user {
    padding: 5px;
    border: 1px solid #ddd;
    transition: all .5s;
        
    &:hover {
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
    }

    .fa-user-circle {
        font-size: 40px;
        margin-top: 7px;
    }

    .h2 {
        margin: 0 0 6px;
        line-height: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .h6 {
        margin: 0 !important;
    }

    .options {
        margin: 10px -5px -5px;
    }
}

.user-box {
    padding: 5px 2px;
}