
// Body
$body-bg: #fff;
$btn-focus-box-shadow: none !important;
$input-focus-box-shadow: none;

// Typography
$line-height-base: 1.6;

// Colors
$accent: #00aeff;
$blue: #00aeff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #e52262;
$red: #e74018;
$orange: #fb8009;
$yellow: #ffc000;
$green: #97c800;
$teal: #10b08f;
$cyan: #0098df;

$leak: #e52262;
$skip: #e74018;
$fast: #fb8009;
$slow: #ffc000;
$preview: #c0d700;
$release: #97c800;
$targeted: #46c429;
$broad: #10b08f;
$ltsc: #0098df;

$mobile: #00bcf2;
$iso: #00cea6;
$iot: #f7630c;
$holographic: #ff4343;
$pc: #0078d7;
$wcos: #9ad93a;
$xbox: #107c10;
$team: #e3008c;
$server: #ffb900;
$sdk: #886ce4;

// Grid
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);