
// Body
$body-bg: #fff;

// Typography
$line-height-base: 1.6;

// Colors
$accent: #0098df;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$leak: #e52262;
$skip: #e74018;
$fast: #fb8009;
$slow: #ffc000;
$preview: #c0d700;
$release: #97c800;
$targeted: #46c429;
$broad: #10b08f;
$ltsc: #0098df;

// Grid
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  // Super large screen / wide desktop
  sl: 1800px
);